In [251]:
import random as rd
import numpy as np
import pandas as pd

In [252]:
rd.seed("АДВИ_2023")

In [253]:
index=[i for i in range(1,1001)]

In [254]:
rd.shuffle(index)

In [255]:
groups=rd.choices(population=["группа_1", "группа_2", "группа_3", "группа_4", "группа_5"],k=1000)

In [256]:
uniform=[rd.randint(50,100) for i in range(1000)]

In [257]:
gauss_1=[rd.gauss(0,1) for i in range(1000)]

In [258]:
gauss_2=[rd.gauss(0,12) for i in range(1000)]

In [259]:
gauss_3=[rd.gauss(50,9) for i in range(1000)]

In [260]:
len(groups)

1000

In [261]:
df=pd.DataFrame(index=index,data={'groups':groups,'uniform':uniform,'gauss_1':gauss_1,'gauss_2':gauss_2,
                               'gauss_3':gauss_3})

In [262]:
df

       groups  uniform   gauss_1    gauss_2    gauss_3
476  группа_1       95  3.010291   2.156346  57.455851
315  группа_5       77  0.190277  -9.934550  62.694177
490  группа_4       96 -0.282161   9.211071  54.688895
748  группа_3       56  1.127080 -12.391793  30.192353
471  группа_5       52 -1.238270  10.938748  52.682052
..        ...      ...       ...        ...        ...
260  группа_4       57 -1.484164  -5.911598  49.330196
146  группа_4       78 -0.379041  -3.132954  60.329900
972  группа_1       52 -0.857206   0.835715  51.926114
161  группа_1       62 -0.195475   3.496498  66.310250
587  группа_5       60  0.093496  -9.164475  60.897843

[1000 rows x 5 columns]

In [263]:
df.loc[df.gauss_2%1>0.95,'gauss_2']=None # Для gauss_2, если дробная часть больше 0.95;

In [264]:
df.gauss_2.isna().value_counts()

False    948
True      52
Name: gauss_2, dtype: int64

In [265]:
df.loc[df.gauss_1.index%121==0,'gauss_1']=None # Для gauss_1, если индекс у значение делится на 121 без остатка;

In [266]:
df.gauss_1.isna().value_counts()

False    992
True       8
Name: gauss_1, dtype: int64

In [267]:
df.gauss_2=df.gauss_2.fillna(df.gauss_2.mean()) # Для gauss_2 None заменить на среднее по колонке;

In [268]:
df.gauss_2.isna().value_counts()

False    1000
Name: gauss_2, dtype: int64

In [269]:
df=df.drop(df[df.gauss_1.isna()].index) # Удалить строчки из таблицы, где gauss_1 == None.

In [270]:
df.gauss_1.isna().value_counts()

False    992
Name: gauss_1, dtype: int64

In [271]:
df.head()

       groups  uniform   gauss_1    gauss_2    gauss_3
476  группа_1       95  3.010291   2.156346  57.455851
315  группа_5       77  0.190277  -9.934550  62.694177
490  группа_4       96 -0.282161   9.211071  54.688895
748  группа_3       56  1.127080 -12.391793  30.192353
471  группа_5       52 -1.238270  10.938748  52.682052

In [272]:
df.shape # размер таблицы после преобразований

(992, 5)

In [273]:
df.gauss_2.mean().round(2) # среднее значение

-0.26

In [274]:
df.gauss_2.std().round(2) # среднеквадратичное (стандартное) отклонение

11.93

In [278]:
df\
    .groupby('groups')\
    .agg({'uniform':'count'})\
    .sort_values('uniform',ascending=False)

          uniform
groups
группа_4      222
группа_1      215
группа_2      194
группа_3      184
группа_5      177

In [285]:
df.query("groups=='группа_5'").sort_index()

        groups  uniform   gauss_1    gauss_2    gauss_3
6     группа_5       64  0.121862 -15.706344  37.264697
7     группа_5       79  0.789998  -1.125028  56.556745
18    группа_5       80  0.390384  -3.111324  57.699977
21    группа_5       95  0.434685   6.883961  40.440062
22    группа_5       70  2.189199 -23.722245  47.054641
...        ...      ...       ...        ...        ...
971   группа_5       80 -0.745116   0.449869  47.499498
978   группа_5       50  0.712819   3.428607  44.329374
989   группа_5       60  0.148515   2.928564  38.729513
997   группа_5       60  0.765711 -16.933376  33.617591
1000  группа_5       55  0.007151   5.734309  59.909507

[177 rows x 5 columns]

In [292]:
percent=np.percentile(df.uniform,90)

In [293]:
df.loc[df.uniform>=percent]

       groups  uniform   gauss_1    gauss_2    gauss_3
476  группа_1       95  3.010291   2.156346  57.455851
490  группа_4       96 -0.282161   9.211071  54.688895
392  группа_4       96 -0.022030 -15.327097  47.695130
655  группа_2      100  0.148248   9.559408  49.953550
984  группа_1       95  0.250564  26.720028  48.241485
..        ...      ...       ...        ...        ...
212  группа_1       98 -1.347081  12.835375  58.932945
466  группа_4       99  0.028367 -13.990673  51.670629
281  группа_5       94 -0.909154 -11.396166  52.202034
286  группа_1       98  0.690832  -5.730558  65.254248
360  группа_2       95 -0.465871  12.704768  63.314157

[118 rows x 5 columns]

In [296]:
df\
    .groupby('groups')\
    .agg({'gauss_3':pd.Series.median})\
    .sort_values('gauss_3',ascending=False).round(2)

          gauss_3
groups
группа_2    49.99
группа_5    49.94
группа_1    49.88
группа_3    49.46
группа_4    49.07

In [297]:
df.groupby('groups')\
  .agg({'gauss_1':'min'})

           gauss_1
groups
группа_1 -3.628448
группа_2 -2.692705
группа_3 -2.606773
группа_4 -3.933254
группа_5 -2.639733

In [298]:
df.groupby('groups')\
  .agg({'uniform':'min'})

          uniform
groups
группа_1       50
группа_2       50
группа_3       50
группа_4       50
группа_5       50

In [306]:
df.groupby('groups')\
  .agg({'gauss_1':'min'}).idxmax()

gauss_1    группа_3
dtype: object

In [310]:
df.groupby('groups')\
  .agg({'gauss_2':'min'}).round(2).query("groups=='группа_3'")

          gauss_2
groups
группа_3   -36.19

In [311]:
#(gauss_1 + gauss_2) / gauss_3
df['gauss']=(df.gauss_1+df.gauss_2)/df.gauss_3

In [313]:
np.percentile(df.gauss,70).round(2)

0.11